{% extends "base.html" %}

{% block title %}FILTON GUESTBOOK{% endblock title %}

{% block body %}
    <h3>Hotel Filton</h3>
    <h1>KNJIGA PRITOŽB IN POHVAL</h1>
    <br>
    <form method="post" action="/rezultat">
        <h4>Ime in priimek:</h4>
        <div>
            <input name="name" id="name">
        </div>
        <br>
        <h4>E-mail:</h4>
        <div>
            <input name="email" id="email">
        </div>
        <br>
        <h4>Sporočilo:</h4>
        <div>
            <textarea name="message" required="true"></textarea>
        </div>
        <button type="submit">Pošlji</button>
    </form>
{% endblock body %}